<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <script>
        const host = "<%= host %>";
        const port = parseInt("<%= port %>");
        const peer_port = parseInt("<%= peer_port %>")
    </script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/node_modules/peerjs/dist/peerjs.min.js"></script>
    <script>
        const socket = io.connect();
    </script>
    <script src="/public/js/chat.js"></script>
    <script>
        $(document).ready(() => {
            const app = new Chat(new VideoFactory($("div[class=\"videos\"]")), socket);
            const room = $("input[name=\"room\"]")
            $("button[name=\"join\"]").click(() => {
                if (room.val()) {
                    app.Join(room.val());
                }
            });
        });
    </script>
    <script src="/public/js/header.js"></script>
    <title>Videos</title>
</head>
<body>
    <%- include('blocks/header.ejs') %>
    <div class="container mb-30">
        <input name="room"><br/>
        <button name="join">Join</button>
        <div class="videos"></div>
    </div>
    <%- include('blocks/footer.ejs') %>
</body>
</html>